# Gradle files
.gradle/
**/build/
local.properties

# Android Studio
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/caches/
.idea/**/gradle.xml
.idea/**/runConfigurations/

# Generated build files
.cxx/
.externalNativeBuild/
captures/
*.apk
*.aar
*.dex
*.ap_
*.class
*.jar
*.so
*.db
*.lock
output.json
output-metadata.json
navigation.json

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Logs and temp files
*.log
*.swp
*.swo
.DS_Store

# Android Profiling
*.hprof
reports/
